*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #776B5D , #EBE3D5);
}

section{
    width: 100%;
    background-image: url();
    background-size: cover;
    background-position: center;
}
section nav{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: #0a060f;
}
section nav .logo{
    font-size: 35px;
    color: #776B5D;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -6%;
}
section nav .logo span{
    color: #EBE3D5;
    text-decoration: underline;
}
section nav ul li{
    position: relative;
    left: -40%;
    display: inline-block;
    margin: 5px 25px;
}
section nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
section nav ul li a:hover{
    color: #EBE3D5;
}

/*equations*/

.equations{
    width: 100%;
    height: 210vh;
    padding: 25px 0;
    background-color: #191717;
}

.equations h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.equations .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
    cursor: pointer;
}
.equations .box .card{
    width: 290px;
    height: 290px;
    box-shadow: 0 0 8px #776B5D;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #fff;
    transition: 0.3s;
}
.equations .box .card:hover{
    width: 300px;
    height: 300px;
}
.equations .box .card .equations_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.equations .box .card .equations_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 10px;
}
.equations .box .card .equations_text h3{
    margin: 7px 0;
    margin-bottom: 19px;
}
.equations .box .card .equations_text .btn{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    color: white;
}
.equations .box .more{
    width: 65px;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#776B5D,#EBE3D5);
    
}
.equations .box .more a{
    color: white;
    text-decoration: none;
}
.equations .box .more i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}

.equations .box .more:hover i{
    transform: translateX(6px);
}
/*footer*/

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    background: #191717;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #776B5D;
}

footer .footer_main .tag a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #776B5D;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: black;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #776B5D,#EBE3D5);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
}
