*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: linear-gradient(to top, #776B5D , #EBE3D5);
}

section{
    width: 100%;
    height: 100vh;
    background-color: #191717;
    background-size: cover;
    background-position: center;
}
section nav{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: #0a060f;
}
section nav .logo{
    font-size: 35px;
    color: #776B5D;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -6%;
}
section nav .logo span{
    color: #EBE3D5;
    text-decoration: underline;
}
section nav ul li{
    position: relative;
    left: -40%;
    display: inline-block;
    margin: 5px 25px;
}
section nav ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
section nav ul li a:hover{
    color: #EBE3D5;
}
section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .main .main_content .main_text h2{
    font-size: 50px;
    line-height: 70px;
    background: linear-gradient(to right, #776B5D , #EBE3D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 85px;
    right: 69.5%;
}

section .main .main_content .main_text h2 span{
    font-size: 50px;
    background: linear-gradient(to right, #776B5D , #EBE3D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section .main .main_content .main_text p{
    font-size: 17px;
    color: #EBE3D5;
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: absolute;
    top: 220px;
    right: 60%;
}
section .main .main_content .low{
    width: 687px;
    height: 105px;
    padding: 20px 7px;
    border: 2px solid #999;
    background-color: #191717;
    position: absolute;
    top: 500px;
    right: 53%;
}
section .main .main_content .low p{
    width: 440px;
    font-size: 17px;
    color: #EBE3D5;
    text-align: justify;
    line-height: 21px;
}
section .main .main_content .low h1{
    border: 2px solid #999;
    color: #776B5D;
    position: absolute;
    top: 50px;
    right: 1%;
}
section .main .main_content .low img{
    width: 180px;
    height: 130px;
    background-color: #ccc;
    position: absolute;
    top: 10px;
    left: 70%;
}
section .main .main_content .low img:hover{
    width: 250px;
    height: 210px;
}
section .form{
    width: 500px;
    height: 320px;
    border: 2px solid #999;
    padding: 20px 7px;
    background-color: #191717;
    position: absolute;
    top: 100px;
    right: 3%;
}
section .form .main_form{
    width: 60px;
    height: 40px;
    font-size: 22px;
    border: 1px solid #999;
    color: #ccc;
    text-align: center;
    position: absolute;
    top: -25px;
    right: 45%;
}
input[type="text"],
textarea {
    width: 55%;
    padding: 8px;
    margin: 5px 5px;
    font-size: 16px;
    border-radius: 4px;
    background: linear-gradient(to right, #191717 , #EBE3D5);
    color: white;
    border: 1px solid #ccc;
}
section .form label{
    font-size: 20px;
    background: linear-gradient(to right, #776B5D , #EBE3D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .form .btnclass{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    color: white;
    cursor: pointer;
}
section .form .btnclass:hover{
    background: linear-gradient(to right, #EBE3D5, #776B5D);
}
section .form h3{
    color: white;
    position: absolute;
    top: 205px;
    right: 6%;
}
section .form .solution{
    width: 130px;
    height: 40px;
    border: 2px solid #999;
    background-color: #191717;
    position: absolute;
    top: 235px;
    right: 4%;
}
section .form .solution p{
    font-size: 20px;
    color: #fff;
    margin-top: 6px;
    margin-left: 20px;
}
section .form .other{
    position: absolute;
    top: 295px;
    right: 35%;
}
section .form .other h2{
    color: white;
    position: absolute;
    bottom: 55px;
    right: 20%;
}
section .form .other input{
    margin: 10px ;
}
section .form .other{
    position: absolute;
    top: 300px;
    right: 33%;
}
section .form .other h2{
    color: white;
    position: absolute;
    bottom: 55px;
    right: 31%;
}
section .form .other input{
    margin: 10px ;
}
/*equations*/

.equations{
    width: 100%;
    height: 60vh;
    padding: 25px 0;
    background-color: #191717;
}

.equations h1{
    margin: 35px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
.equations .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
    cursor: pointer;
}
.equations .box .card{
    width: 290px;
    height: 290px;
    box-shadow: 0 0 8px #776B5D;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #fff;
    transition: 0.3s;
}
.equations .box .card:hover{
    width: 300px;
    height: 300px;
}
.equations .box .card .equations_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.equations .box .card .equations_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 10px;
}
.equations .box .card .equations_text h3{
    margin: 7px 0;
    margin-bottom: 19px;
}
.equations .box .card .equations_text .btn{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    color: white;
}


/*footer*/

footer{
    width: 100%;
}

footer .footer_main{
    width: 100%;
    background: #191717;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #776B5D;
}

footer .footer_main .tag a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 9px 0;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #776B5D;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: black;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #776B5D,#EBE3D5);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #776B5D,#EBE3D5);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
}

